.EnergyDivBackground {
  background-color: #f79521;
  min-height: 100vh;
  height: 100%;
  background-size: cover;
  overflow: auto;
  /* width: 100%; */
}

.EnergyMainFlex {
  /* min-width: 300; */
  /* justify-content: center !important; */

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  /* width: 100%; */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.EnergyCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: #095366;
  border-width: 0.2rem;
  border-radius: 2rem !important;
  /* min-width: 32rem; */
  width: 32rem;
  height: 20rem;
  justify-content: space-between;
  /* justify-content: space-between; */
}
.EnergyCardContent {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  gap: 15px;

  /* flex-wrap: nowrap !important; */
}

.EnergyCardTitle {
  color: #095366;
  font-family: "Palanquin Dark", sans-serif !important;
  font-weight: bold !important;
  text-align: center;
  padding-top: 5px;
  font-size: 22px;
}

.EnergyCardtext {
  font-family: "Palanquin", sans-serif !important;
  font-size: 20px !important;
  font-weight: 400;
  letter-spacing: 0.00938em;
  align-self: center;
}

/* RADIO BUTTON*/

.OptionDiv {
  height: 13rem;
  padding-top: 15px;
}

.OptionDivBigTitleSmallScreen {
  height: 13rem;
  padding-top: 15px;
}

.OptionDivMultipleInputs {
  font-family: "Palanquin", sans-serif !important;
  font-size: 16px;
  width: 100%;
  height: 13rem;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.OptionDivMultipleInputsIndividualFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.RadioLabel {
  font-family: "Palanquin", sans-serif !important;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.RadioLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.RadioLabel:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.RadioLabel input:checked ~ .checkmark {
  background-color: #095366;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.RadioLabel input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.RadioLabel .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* DROPDOWN */

.DropdownDiv {
  height: 13rem;
  padding-top: 20px;
}

.DropdownButton {
  width: 14rem;
  font-family: "Palanquin", sans-serif !important;
  font-size: 20px;
  padding: 2%;
  text-decoration: none !important;
  color: black;
}
.DropdownButton:hover {
  color: white;
  background-color: #095366;
}

.EnergyDropdownOption {
  font-family: "Palanquin", sans-serif;
  margin: 0%;
  border-radius: 0.2rem;
  font-size: 18px;
  line-height: 1.8;
}

.EnergyDropdownOption:hover {
  color: white;
  background-color: #095366;
  height: 100%;
}

/* SLIDER */

.slidecontainer {
  /* width: 100%; */
  width: 14rem;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #095366; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #095366; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.SliderValuesDiv {
  /* display: flex; */
  /* flex-direction: row; */
  width: 14rem;
  font-size: 12px;
  font-family: "Palanquin", sans-serif !important;
  /* justify-content: space-evenly; */
  /* gap: 15px; */
}

/* Cards Buttons */

.EnergyCardButtonsDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* min-width: 29rem; */
  width: 30rem;
}
.EnergyCardButtonsLeftDiv {
  width: 8rem;

  /* margin-left: 9.5rem !important; */
}

.EnergyCardButtonsNavigation {
  width: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  padding: 5px;

  /* margin-left: 9.5rem !important; */
}
.EnergyNavigationButtons:hover {
  border-radius: 0.5rem;
  color: white;
  background-color: #095366;
  opacity: 1;
}
.EnergyNavigationButtons {
  display: flex;
  flex-direction: row;
  color: #095366;
  opacity: 0.8;
  width: 3rem;
  justify-content: center;
}

.EnergyNavigationButtonsLink:hover {
  text-decoration: none;
}

.EnergyNavigationButtonsLinkResults {
  width: 3rem;
  font-family: "Palanquin Dark", sans-serif !important;
  color: #095366;
  opacity: 0.8;
  font-size: 14px;
}

.EnergyNavigationButtonsLinkResults:hover {
  text-decoration: none;
  color: white;
  background-color: #095366;
  border-radius: 0.2rem;
  opacity: 1;
}

.EnergyCardButtonsSkip {
  display: flex;
  flex-direction: row;
  width: 8rem;
  height: 1rem;
  font-size: 10px;
  /* text-align: center !important; */
  justify-content: center !important;
  margin-right: 5px !important;
  font-family: "Palanquin Dark", sans-serif !important;
  /* margin-left: 5rem !important; */
}

.EnergyCardButtonsSkip:hover {
  width: 8rem;
  align-content: center !important;
  /* text-align: center !important; */
  margin-right: 5px !important;
  color: white !important;
  background-color: #095366;
  border-radius: 0.2rem;
  /* margin-left: 5rem !important; */
}

.EnergyCardButtonsSkipLink {
  text-decoration: none;
  color: #095366;
  opacity: 0.8;

  /* padding: 1px; */
  /* font-family: "Palanquin-Dark", sans-serif !important; */
}

.EnergyCardButtonsSkipLink:hover {
  text-decoration: none;
  color: white !important;
  background-color: #095366;
  opacity: 1;
  border-radius: 0.5rem;
}

.ChangeClubsLogo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.CClogo {
  margin: auto 0;
  position: sticky;
  bottom: 0;
}
/* RESULTS */

.ResultsMainDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: stretch;
  width: 95%;
}
.RecommendationsResultsDiv {
  width: 72%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: baseline;
  gap: 10px;
}

.FootprintAnswersResultsDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28%;
  align-items: stretch;
  gap: 5px;
}

.SummaryButton {
  width: 18rem;
  background-color: #095366 !important;
  font-family: "Palanquin Dark", sans-serif !important;
  font-size: 24px !important;
  padding: 0% !important;
  height: 3rem;
}

.SummaryButton:hover {
  opacity: 0.8;
  /* background-color: #d98e02 !important; */
}

/* RECOMMENDATIONS */

.RecommendationFilter {
  display: none;
  visibility: hidden;
  background-color: black !important;
  font-size: 1px;
}

.EnergyCardRecResults {
  width: 100%;
  padding-bottom: 17px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
  border-style: solid;
  border-color: #095366;
  border-width: 0.2rem;
  border-radius: 2rem !important;
}

.EnergyCardContentRecResults {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  gap: 15px;
}

.EnergyCardTitleRecResults {
  font-size: 24px;
  color: #095366;
  font-family: "Palanquin Dark", sans-serif !important;
  font-weight: bold !important;
  text-align: center;
}

.OptionDivRecResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding-top: 15px;
}

.EnergyCardRecSummary {
  width: 30%;
  max-height: 60%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 1rem !important;
}

.BiggestImpact {
  border-color: #98cb63;
}

.EasyToDo {
  border-color: #7fc3eb;
}

.FunTip {
  border-color: #fad5ec;
}

.EnergyCardContentRecSummary {
  height: 100%;
  text-decoration: none;
  color: black;
  margin: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  gap: 10px;
}

.EnergyCardContentRecSummary:hover {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}

.EnergyCardTypeRecSummary {
  font-size: 12px;
  width: 100%;
  font-family: "Palanquin Dark", sans-serif !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.EnergyCardModuleRecSummary {
  font-size: 12px;
  width: 100%;
  font-family: "Palanquin Dark", sans-serif !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.EnergyCardTitleRecSummary {
  font-size: 18px;
  color: #095366;
  font-family: "Palanquin Dark", sans-serif !important;
  text-align: start;
}

.OptionDivRecSummary {
  text-align: justify;
  text-justify: inter-word !important;
  font-size: 14px;
  width: 100%;
  font-family: "Palanquin", sans-serif !important;
  height: 100%;
}

.RecommendationLearnMoreButton {
  color: #095366;
  font-size: 18px;
  border: 0%;
  padding: 0%;
}

.RecommendationLearnMoreButtonDiv:hover {
  text-decoration: none;
}

.RecommendationLearnMoreButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  text-align: end;
}

.QCardRecommendationButtonIcon {
  color: rgb(142, 142, 142);
  font-size: 15px;
  border: 0% !important;
  padding: 0%;
  /* font-variation-settings: "wght" 1000; */
}

.AllRecButtonDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 4%;
}

.AllRecButton {
  width: 18rem;
  background-color: #f79521 !important;
  font-family: "Palanquin Dark", sans-serif !important;
  font-size: 12px !important;
  padding: 0.1rem 0rem !important;
}
.AllRecButton:hover {
  opacity: 0.8;
  /* background-color: #d98e02 !important; */
}

.RecStarGold {
  color: white;
}

.RecStarGold:hover {
  color: gold;
}

/* FOOTPRINT */

.EnergyCardFootprintResults {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: #095366;
  border-width: 0.2rem;
  border-radius: 2rem !important;
}

.EnergyCardContentFootprintResults {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  gap: 15px;
  padding-bottom: 12px;
  width: 95%;
}

.EnergyCardTitleFootprintResults {
  color: #095366;
  font-size: 24px;
  font-family: "Palanquin Dark", sans-serif !important;
  font-weight: bold !important;
  text-align: center;
}

.OptionDivFootprintResults {
  width: 100%;
  flex-wrap: wrap;
  height: auto;
}
.OptionDivFootprintResultsRadioDiv {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

/* RADIO FOOTPRINT */

.RadioLabelEnergyFootprint {
  font-family: "Palanquin", sans-serif !important;
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.RadioLabelEnergyFootprint input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmarkEnergyFootprint {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.RadioLabelEnergyFootprint:hover input ~ .checkmarkEnergyFootprint {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.RadioLabelEnergyFootprint input:checked ~ .checkmarkEnergyFootprint {
  background-color: #095366;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkEnergyFootprint:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.RadioLabelEnergyFootprint input:checked ~ .checkmarkEnergyFootprint:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.RadioLabelEnergyFootprint .checkmarkEnergyFootprint:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.ResultsDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.ResultsOutput {
  font-family: "Palanquin Dark", sans-serif !important;
  font-size: 18px;
  background-color: #f9d9d9;
  padding: 10px;
  border-radius: 1rem;
}

.ResultsOutput:hover {
  background-color: #ee4347;
  color: white;
}

/* ANSWERS */

.EnergyCardAnswers {
  /* width: 100%; */
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: #095366;
  border-width: 0.2rem;
  border-radius: 2rem !important;
}

.EnergyCardContentAnswers {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  gap: 15px;
  width: 100%;
}

.EnergyCardTitleAnswers {
  font-size: 24px;
  color: #095366;
  font-family: "Palanquin Dark", sans-serif !important;
  font-weight: bold !important;
  text-align: center;
}

.OptionDivAnswers {
  padding-left: 4%;
  padding-right: 4%;
  height: auto;
  width: 100%;
}

.TableAnswers {
  display: flex;
  flex-direction: column;
}

.TableRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.TableColumnQuestions {
  font-family: "Palanquin Dark", sans-serif !important;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 7px;
}

.TableColumnAns {
  font-family: "Palanquin", sans-serif !important;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 7px;
}

.TableText {
  font-size: 14px;
}

.DropdownButtonAnswers {
  font-family: "Palanquin", sans-serif !important;
  font-size: 14px;
  padding: 2%;
  text-decoration: none !important;
  color: black;
}
.DropdownButtonAnswers:hover {
  color: white;
  background-color: #095366;
}

.dropddown-toggle-own {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 0%;
  width: 100%;
  /* border: 0% !important; */
  justify-content: flex-start;
}

.EnergyDropdownOptionAnswers {
  width: 100%;
  font-family: "Palanquin", sans-serif;
  margin: 0%;
  border-radius: 0.2rem;
  font-size: 16px;
  line-height: 1.8;
  color: #095366;
}

.EnergyDropdownOptionAnswers:hover {
  color: white;
  background-color: #095366;
  height: 100%;
}

.AnswerInput {
  display: flex;
  width: 100%;
  border: 0%;
  white-space: wrap;
  flex-wrap: nowrap !important;
  justify-content: space-between;
  color: #095366;
}

.AnswerInput:hover {
  color: white;
  background-color: #095366;
}

.ownbutton {
  width: 100% !important;
  /* white-space: wrap; */
  display: inline-block;
  justify-content: flex-start;

  /* flex-wrap: nowrap !important; */
  /* text-align: start; */
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0px solid transparent;
  padding: 0.27rem 0rem;

  border-radius: 0.25rem;
  /* margin-right: 5px; */
}
.arrowdown {
  margin-right: 5px;
}
.SavingInputAnswer {
  text-align: start;
}

.StartOverButtonDiv {
  padding-bottom: 12px;
}

.StartOverButton {
  width: 6rem;
  background-color: #f79521 !important;
  font-family: "Palanquin Dark", sans-serif !important;
  font-size: 12px !important;
  padding: 0.1rem 0rem !important;
}
.StartOverButton:hover {
  opacity: 0.8;
  /* background-color: #d98e02 !important; */
}

/* ALL RECOMMENDATIONS AND RESOURCES */

.RecommendationsMainDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: stretch; */
  width: 95%;
}

.EnergyCardRecommendations {
  width: 100%;
  padding-bottom: 17px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: stretch; */
  border-style: solid;
  border-color: #095366;
  border-width: 0.2rem;
  border-radius: 2rem !important;
}

.EnergyCardContentRecommendations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.EnergyCardTitleRecommendations {
  font-size: 24px;
  color: #095366;
  font-family: "Palanquin Dark", sans-serif !important;
  font-weight: bold !important;
  text-align: center;
}

.OptionDivRecommendations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.DropdownDivFilter {
  align-self: flex-end;
  margin-right: 4%;
}

.DropdownButtonFilter {
  width: 2rem;
  padding: 2%;
  text-decoration: none !important;
  color: #095366;
}
.DropdownButtonFilter:hover {
  color: white;
  background-color: #095366;
}

.EnergyDropdownOptionFilter {
  font-family: "Palanquin", sans-serif;
  margin: 0%;
  border-radius: 0.2rem;
  font-size: 18px;
  line-height: 1.8;
}

.EnergyDropdownOptionFilter:hover {
  color: white;
  background-color: #095366;
  height: 100%;
}

.BackButtonDiv {
  padding-bottom: 12px;
  align-self: flex-end;
  margin-right: 4%;
}

.BackButton {
  width: 6rem;
  background-color: #f79521 !important;
  font-family: "Palanquin Dark", sans-serif !important;
  font-size: 12px !important;
  padding: 0.1rem 0rem !important;
}
.BackButton:hover {
  opacity: 0.8;
  /* background-color: #d98e02 !important; */
}

.EnergyCardResources {
  width: auto;
  padding-bottom: 17px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: stretch; */
  border-style: solid;
  border-color: #095366;
  border-width: 0.2rem;
  border-radius: 2rem !important;
}

.EnergyCardContentResources {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  gap: 15px;
}

.EnergyCardTitleResources {
  font-size: 24px;
  color: #095366;
  font-family: "Palanquin Dark", sans-serif !important;
  font-weight: bold !important;
  text-align: center;
}

.OptionDivResources {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding-top: 15px;
}

.EnergyCardContentSingleResource {
  width: 96%;
  height: 100%;
  text-decoration: none;
  color: black;
  margin: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  gap: 10px;
}
.EnergyCardContentSingleResource:hover {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}

.EnergyCardSingleResource {
  border-color: #f79521;
  width: 30%;
  max-height: 60%;
  background-color: white;
  display: flex;
  margin-left: 3%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 1rem !important;
}

.FeedbackButtonReco {
  border-radius: 0.2rem;
  width: 20rem;
  color: white;
  text-align: center;
  background-color: #42a889 !important;
  font-family: "Palanquin Dark", sans-serif !important;
  font-size: 24px !important;
  padding: 6%;
  /* padding-left: 16%; */
  /* padding-right: 16%; */
}

.FeedbackButtonReco:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 650px) {
  .EnergyCard {
    width: 23rem;
    height: 20rem;
  }

  .EnergyCardContent {
    width: 23rem;
  }

  .EnergyCardTitle {
    font-size: 16px;
  }

  .Q1Title {
    font-size: 15px;
  }

  .EnergyCardtext {
    font-family: "Palanquin", sans-serif !important;
    font-size: 16px !important;
  }

  .EnergyDropdownOption {
    font-size: 18px;
    line-height: 1.5;
  }

  .DropdownButton {
    width: 12rem;
    font-family: "Palanquin", sans-serif !important;
    font-size: 16px;
    padding: 2%;
  }

  .EnergyCardButtonsDiv {
    width: 22rem;
  }

  .EnergyCardButtonsSkip {
    height: 80%;
    flex-direction: row;
    text-align: center;
    font-size: 8px !important;
    margin-right: 10px !important;
  }

  .EnergyCardButtonsSkip:hover {
    font-size: 8px !important;
    margin-right: 10px !important;
  }

  .OptionDivMultipleInputs {
    font-family: "Palanquin", sans-serif !important;
    font-size: 12px;
    width: 22rem;
    gap: 15px;
  }

  .SliderValuesDiv {
    width: 14rem;
    font-size: 10px;
    font-family: "Palanquin", sans-serif !important;
  }

  .OptionDivBigTitleSmallScreen {
    height: 184px;
    padding-top: 15px;
  }

  .ResultsMainDiv {
    flex-direction: column;
    width: 95%;
  }

  .RecommendationsResultsDiv {
    flex-direction: column;
    width: 100%;
  }

  .FootprintAnswersResultsDiv {
    width: 100%;
  }

  .EnergyCardRecSummary {
    width: 95%;
    height: 100%;
  }

  .OptionDivRecResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding-top: 0px;
  }

  .EnergyCardModuleRecSummary {
    display: none;
  }

  .EnergyCardContentRecSummary {
    width: 95%;
    height: auto;
    margin: 1%;
    gap: 1px;
  }

  .AllRecButtonDiv {
    padding-top: 10px;
    justify-content: center;
    margin-right: 0%;
  }
}
