.divbackground {
  background-color: #f9ce64;
  min-height: 100vh;
}

.StartButtonDiv {
  padding-top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.StartButton {
  background-color: #f79521 !important;
}

.StartButton:hover {
  background-color: #d98e02 !important;
}
.CClogo {
  text-align: center;
  width: 100%;
  margin: auto 0;
  position: absolute;
  bottom: 0;
}
.PoweredbyText {
  color: gray;
  font-family: "Palanquin Dark", sans-serif !important;
  font-size: 9px;
  margin: 0%;
}
.AreaHeading {
  color: white;
  font-family: "Palanquin Dark", sans-serif !important;
  font-weight: bolder !important;
  font-size: 4rem;
  margin-bottom: 0%;
}

.QCardDiv {
  justify-content: center !important;
  display: flex;
  align-items: center !important;
  max-height: 100vh;
  flex-direction: column;
}

.QCard {
  border-style: solid;
  border-color: #f79521;
  border-width: 0.4rem;
  border-radius: 2rem !important;
}
.QTitle {
  color: #4386c6;
  font-family: "Palanquin Dark", sans-serif !important;
  font-weight: bold !important;
}

.QNumber {
  color: white;
}
