/* MAIN APP */

/* .PaddingBottomPage {
  padding-bottom: 15px;
} */

.MainDivBackground {
  background-color: #212329;
  height: 100vh;
  background-size: cover;
  overflow: auto;
}
.ViewDiv {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  gap: 25px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.StartCard {
  color: white;
  display: flex;
  flex-direction: column;
  border-style: solid;
  animation: change-color 60s linear infinite;
  border-width: 0.2rem;
  border-radius: 2rem !important;
  max-width: 60rem;
}

.StartCardContent {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  margin: 2%;
  font-family: "Palanquin", sans-serif;
  font-size: 18px;
}

.StartListTitle {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 20px;
}
.StartLastList {
  margin: 0%;
}

.StartListNumber {
  font-weight: bold;
}

.StartButtonsDiv {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.StartButton {
  width: 12rem;
  background-color: #f79521 !important;
  font-family: "Palanquin Dark", sans-serif !important;
  font-size: 20px !important;
}
.StartButton:hover {
  opacity: 0.8;
  /* background-color: #d98e02 !important; */
}

.FeedbackButton {
  border-radius: 0.2rem;
  width: 12rem;
  color: white;
  text-align: center;
  padding-top: 6px;
  background-color: #42a889 !important;
  font-family: "Palanquin Dark", sans-serif !important;
  font-size: 20px !important;
}

.FeedbackButton:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

/* Animation Start Page */

/* .change-color {
  animation-name: change-color;
  animation-duration: 3s;
} */

@keyframes change-color {
  0% {
    border-color: #095366;
  }
  20% {
    border-color: #a12173;
  }
  35% {
    border-color: #ee4347;
  }
  42% {
    border-color: #f79521;
  }
  50% {
    border-color: #f9ce64;
  }
  62% {
    border-color: #98cb63;
  }
  75% {
    border-color: #42a889;
  }
  88% {
    border-color: #7fc3eb;
  }
  100% {
    border-color: #4386c6;
  }
}

/* MODULES */

.ModulesCard {
  color: white;
  font-family: "Palanquin Dark", sans-serif !important;
  font-size: 25px;

  /* max-width: 58rem; */
}

.ModulesCardContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ModulesCardNames {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.container {
  position: relative;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.ModulesImage {
  height: 100px;
}

.DietModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #a12173;
  border-radius: 1rem;
  height: 12rem;
  width: 12rem;
}
.DietModule:hover {
  background-color: white;
}

.DietImage:hover > * {
  filter: opacity(0.5) drop-shadow(0 0 0 #a12173) !important;
  display: block;
  overflow: visible;
}

.MobilityModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #ee4347;
  border-radius: 1rem;
  height: 12rem;
  width: 12rem;
}

.MobilityModule:hover {
  background-color: white;
}

.MobilityModule:hover > * {
  filter: opacity(0.5) drop-shadow(0 0 0 #ee4347) !important;
  display: block;
  overflow: visible;
}

.EnergyModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #f79521;
  border-radius: 1rem;
  height: 12rem;
  width: 12rem;
}
.EnergyModule:hover {
  background-color: #f7972150;
}

.HousingModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #f9ce64;
  border-radius: 1rem;
  height: 12rem;
  width: 12rem;
}

.HousingModule:hover {
  background-color: white;
}

.HousingModule:hover > * {
  filter: opacity(0.5) drop-shadow(0 0 0 #f9ce64) !important;
  display: block;
  overflow: visible;
}

.BiodiversityModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  background-color: #98cb63;
  border-radius: 1rem;
  height: 12rem;
  width: 12rem;
}

.BiodiversityModule:hover {
  background-color: white;
}

.BiodiversityModule:hover > * {
  filter: opacity(0.5) drop-shadow(0 0 0 #98cb63) !important;
  display: block;
  overflow: visible;
}

.WasteModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #42a889;
  border-radius: 1rem;
  height: 12rem;
  width: 12rem;
}

.WasteModule:hover {
  background-color: white;
}

.WasteModule:hover > * {
  filter: opacity(0.5) drop-shadow(0 0 0 #42a889) !important;
  display: block;
  overflow: visible;
}

.LifestyleModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #7fc3eb;
  border-radius: 1rem;
  height: 12rem;
  width: 12rem;
}

.LifestyleModule:hover {
  background-color: white;
}

.LifestyleModule:hover > * {
  filter: opacity(0.5) drop-shadow(0 0 0 #7fc3eb) !important;
  display: block;
  overflow: visible;
}

.FinanceModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #4386c6;
  border-radius: 1rem;
  height: 12rem;
  width: 12rem;
}

.FinanceModule:hover {
  background-color: white;
}

.FinanceModule:hover > * {
  filter: opacity(0.5) drop-shadow(0 0 0 #4386c6) !important;
  display: block;
  overflow: visible;
}

.GoBeyongModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #095366;
  border-radius: 1rem;
  height: 12rem;
  width: 12rem;
}

.GoBeyongModule:hover {
  background-color: white;
}

.GoBeyongModule:hover > * {
  filter: opacity(0.5) drop-shadow(0 0 0 #095366) !important;
  display: block;
  overflow: visible;
}

/* FOR ALL MODULES */

.AreaHeading {
  color: white;
  font-family: "Palanquin Dark", sans-serif !important;
  font-weight: bolder !important;
  font-size: 4rem;
  margin: 0%;
  margin: 0%;
}

/* MEDIA SMALL SCREEN */

@media screen and (max-width: 650px) {
  /* START */
  .StartCard {
    max-width: 24rem;
  }

  .StartCardContent {
    font-size: 16px;
    margin: 3%;
    line-height: 1.6;
  }
  .StartListTitle {
    font-size: 18px;
  }

  .StartButtonsDiv {
    gap: 15px;
    padding-bottom: 1rem;
  }

  .StartButton {
    width: 10rem;
    font-size: 16px !important;
  }

  .FeedbackButton {
    width: 10rem;
    font-size: 16px !important;
  }

  /* MODULES */
  .ModulesCard {
    font-size: 20px;
    padding-bottom: 1rem;
  }

  .ModulesCardContent {
    flex-direction: column;
    gap: 10px;
  }

  .ModulesCardNames {
    flex-direction: column;
    gap: 10px;
  }

  .ModulesImage {
    height: 30px;
  }

  .DietModule {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    height: 4.5rem;
    width: 21rem;
  }

  .MobilityModule {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    height: 4.5rem;
    width: 21rem;
  }

  .EnergyModule {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    height: 4.5rem;
    width: 21rem;
  }
  .HousingModule {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    height: 4.5rem;
    width: 21rem;
  }

  .BiodiversityModule {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    height: 4.5rem;
    width: 21rem;
  }

  .WasteModule {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    height: 4.5rem;
    width: 21rem;
  }

  .LifestyleModule {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    height: 4.5rem;
    width: 21rem;
  }

  .FinanceModule {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    height: 4.5rem;
    width: 21rem;
  }

  .GoBeyongModule {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    height: 4.5rem;
    width: 21rem;
  }
}

/* HOUSING */
.divbackgroundHousing {
  background-color: #f9ce64;
  height: 100vh;
  background-size: cover;
  overflow: auto;
}

.InfoButton {
  color: gray;
  cursor: pointer;
}

.TooltipButton {
  color: gray;
  border: none !important;
  background-color: #f9ce64;
  cursor: pointer;
  padding: 2px;
}
.TooltipButtonz:hover {
  color: gray;
  border: none !important;
  background-color: #f9ce64;
  box-decoration-break: none;
}

.TooltipText {
  font-size: 12px;
  white-space: pre-line;
  font-family: "Palanquin", sans-serif !important;
}

/* .CClogo {
  text-align: end;
  width: 100%;
  margin: auto 0;
  position: sticky;
  bottom: 0;
} */

.PoweredbyText {
  color: black;
  font-family: "Palanquin Dark", sans-serif !important;
  font-size: 9px;
  margin: 0%;
}

/* QUESTIONS */

.QCardDiv {
  /* min-width: 300; */
  justify-content: center !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.QCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: #f79521;
  border-width: 0.4rem;
  border-radius: 2rem !important;
  min-width: 32rem;
  max-width: 32rem;
  min-height: 24.5rem;
  justify-content: space-between;
}
.QCardContent {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  /* flex-wrap: nowrap !important; */
}

.scrollable-menu {
  height: auto;
  max-height: 280px;
  overflow-x: hidden;
  font-family: "Palanquin", sans-serif !important;
  font-size: 14px;
}

.QTitle {
  color: #4386c6;
  font-family: "Palanquin Dark", sans-serif !important;
  font-weight: bold !important;
  text-align: center;
}

.Qtext {
  font-family: "Palanquin Dark", sans-serif !important;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.00938em;
  align-self: center;
}

.QCardButtons {
  min-width: 29rem;
}

.QButtons {
  margin-left: 9.5rem !important;
}

.ButtonSkipAll {
  margin-left: 5rem !important;
}

.ButtonAverage {
  margin-left: 1.9rem !important;
}

.checkboxText {
  line-height: 2.5;
  scale: 1.1;
}

.QNumber {
  color: white;
}

/* DROPWDOWN FOR QUESTIONS */

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* ANSWERS RESULTS */

.editIcon {
  font-size: 14px;
  padding-top: 10px !important;
  color: rgb(102, 102, 102);
}
.editText {
  font-size: 10px;

  color: rgb(102, 102, 102);
}

.StartOverButton {
  background-color: #f79521 !important;
  font-family: "Palanquin Dark", sans-serif !important;
  font-size: 8px !important;
}

.StartOverButton:hover {
  background-color: #d98e02 !important;
  border: 0% !important;
}

/* .ResultsDiv {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-bottom: 15px;
} */

/* .TableDiv {
  display: flex;
  justify-content: center;
} */

.TableResults {
  width: 330px !important;
}

.ResultTableQuestions {
  font-family: "Palanquin Dark", sans-serif !important;
  color: #7fc3eb;
  width: 140px;
  font-size: 14px;
  font-weight: bold;
}

.ResultTableAnswers {
  font-family: "Palanquin Dark", sans-serif !important;
  color: black;
  font-size: 14px;
  padding-left: 10px;
  text-align: start;
}

/* FOOTPRINT & BIGGEST IMPACTS RESULT DIV */

.TrucksNumber {
  font-size: 24px;
  font-weight: bold;
}

.CO2Text {
  font-size: 12px;
}

.disable {
  display: none;
}
.MuiCardContent-root {
  padding-top: 8px !important;
  padding-bottom: 0px !important;
}

.FootprintBiggestDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.QCardFootprint {
  min-width: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: #7fc3eb;
  border-width: 0.4rem;
  border-radius: 2rem !important;
  padding-bottom: 10px;
}
.QCardFootprintTitleRadio {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.IconPadding {
  padding-top: 8px;
}

.QCardFootprintRadio {
  display: flex;
  flex-direction: row !important;
}
.FootprintRadioText {
  font-family: "Palanquin Dark", sans-serif !important;
}

.QTitleFootprint {
  color: #4386c6;
  font-family: "Palanquin Dark", sans-serif !important;
  font-weight: bold !important;
}

/* RECOMMENDATIONS */

.QCardDivRecommendationsLinks {
  min-width: 300;
  justify-content: flex-end !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.QCardRecommendations {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  border-style: solid;
  border-color: #42a889;
  border-width: 0.4rem;
  border-radius: 2rem !important;
  min-width: 650px !important;
  margin: 5px;
  padding-bottom: 10px;
}

.QTitleRecommendations {
  color: #4386c6;
  font-family: "Palanquin Dark", sans-serif !important;
  font-weight: bold !important;
  text-align: center !important;
}

.CardRecommendationBI {
  border-radius: 1rem !important;
  background-color: #d8f8ee !important;
  max-width: 210px;
  overflow: scroll !important;
  max-height: 200px !important;
}
.CardRecommendationEasy {
  border-radius: 1rem !important;
  background-color: #cce7f6 !important;
  max-width: 210px;
  max-height: 200px !important;
  overflow: scroll !important;
}

.CardRecommendationFun {
  border-radius: 1rem !important;
  background-color: #fad5ec !important;
  max-width: 210px;
  max-height: 200px !important;
  overflow: scroll !important;
}
.QCardRecommendationType {
  font-family: "Palanquin Dark", sans-serif !important;
}

.QCardRecommendationTitle {
  font-size: 13px !important;
  font-weight: bold !important;
  font-family: "Palanquin Dark", sans-serif !important;
}

.QCardRecommendationSubTitle {
  font-size: 10px !important;
  font-family: "Palanquin Dark", sans-serif !important;
}

.QCardRecommendationText {
  font-size: 10px !important;
  font-family: "Palanquin Dark", sans-serif !important;
}

.QCardRecommendationButton {
  font-family: "Palanquin Dark", sans-serif !important;
  color: lightgray;
  padding-left: 5px !important;
}

.QCardRecommendationButtonPadding {
  padding-top: 0% !important;
  padding-bottom: 0% !important;
  justify-content: flex-end;
}
.QCardRecommendationButtonIcon {
  color: rgb(142, 142, 142);
  font-size: 15px;
  border: 0% !important;
  padding: 0%;
  /* font-variation-settings: "wght" 1000; */
}
.RecommendationsDiv {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.ButtonAllRecommendationsDiv {
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}
.ButtonAllRecommendations {
  border: none;
  background-color: white;
  color: #4386c6;
  border-radius: 0.5rem;
  width: 90px;
}
.ButtonAllRecommendations:hover {
  border: none;
  cursor: pointer;
  background-color: #f7fafd;
}

.ButtonBackRecommendationsDiv {
  padding-right: 35px;
  align-self: flex-end;
}

.ButtonBackRecommendations {
  border: none;
  background-color: #f9ce64;
  color: #4386c6;
  border-radius: 0.5rem;
  width: 55px;
  padding: 5px;
}
.ButtonBackRecommendations:hover {
  border: none;
  cursor: pointer;
  background-color: #e9c873;
}

.DisableRecommendation {
  display: none;
}

.CalculationTotal {
  background-color: #f9d9d9;
  border-radius: 1rem;
  /* padding: 10px; */
  width: 100%;
  font-family: "Palanquin Dark", sans-serif !important;
}

/* EXTERNAL LINKS */
.CardExternalLinksDiv {
  display: flex;
  gap: 5px;
}

.QCardExternalLinks {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #095366;
  border-width: 0.4rem;
  border-radius: 2rem !important;
  min-width: auto !important;
  padding-bottom: 10px;
}

.CardExternalLinks {
  border-radius: 1rem !important;
  background-color: #fbd3a1 !important;
  max-width: 210px;
}

/* FULL SINGLE RECOMMENDATION */

.QCardFullRecommendation {
  max-width: 650px;
  border-style: solid;
  border-color: #42a889;
  border-width: 0.4rem;
  border-radius: 2rem !important;
  padding-bottom: 10px;
}

.RecommendationFullText {
  font-size: 16px !important;
  font-family: "Palanquin Dark", sans-serif !important;
}

.RecommendationCardLink {
  text-decoration: none !important;
  color: black;
}
.RecommendationCardLink:hover {
  text-decoration: none !important;
  color: black;
}

.FullRecommendationBackButtonDiv {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end !important;
  margin-right: 10px;
  font-family: "Palanquin Dark", sans-serif !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.QTitleFullRecommendation {
  color: #4386c6;
  font-weight: bold !important;
  font-family: "Palanquin Dark", sans-serif !important;
}
.QSubTitleFullRecommendation {
  font-family: "Palanquin Dark", sans-serif !important;
}

.QInsulationsDiv {
  font-family: "Palanquin Dark", sans-serif !important;
  font-weight: bold !important;
  color: black !important;
}
.InsulationFullText {
  font-size: 14px !important;
  font-family: "Palanquin Dark", sans-serif !important;
  padding-bottom: 20px;
}

/* MEDIA */

@media screen and (max-width: 650px) {
  /* .ResultsDiv {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    margin: 5px;
  } */

  .TooltipText {
    font-size: 16px;
  }

  .QCardFootprint {
    min-width: 10 !important;
    margin: 5px;
  }

  .QCard {
    min-height: 26rem !important;
    min-width: 22rem !important;
    max-width: 22rem !important;
  }

  .QCardButtons {
    min-width: 29rem;
  }

  .ButtonSkipAll {
    margin-left: 1rem !important;
  }

  .QCardDivRecommendationsLinks {
    min-width: 30 !important;
  }

  .QCardRecommendations {
    min-width: 30px !important;
    margin: 5px;
  }

  .RecommendationsDiv {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
  }

  .QCardRecommendationTitle {
    font-size: 10px !important;
    font-weight: bold !important;
  }

  .QCardRecommendationSubTitle {
    font-size: 9px !important;
  }

  .QCardRecommendationText {
    font-size: 10px !important;
  }

  .QCardRecommendationButton {
    font-size: 7px !important;
    padding: 0% !important;
  }
  .QCardFullRecommendation {
    max-width: 345px;
  }

  .QCardExternalLinks {
    margin: 5px;
  }
  .CardExternalLinksDiv {
    /* display: flex;
    flex-direction: column;
    gap: 5px; */
    grid-template-columns: 50% 50;
    grid-template-rows: 50 50;
    grid-auto-flow: row;
  }

  /* .PaddingBottomPage {
    padding-bottom: 5px;
  } */

  .QCardFootprintTitleRadio {
    gap: 5px;
  }
}
